<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.ContributorActivity"
            android:label="@string/about_contributors"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AboutActivity" />
        <activity
            android:name=".activities.LibraryActivity"
            android:label="@string/about_libraries"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AboutActivity" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppThemeSplash"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/pref"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.ShutdownActivity"
            android:label="@string/Shutdown"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.RebootActivity"
            android:label="@string/Reboot"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.SafeModeActivity"
            android:label="@string/SafeMode"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.BootloaderActivity"
            android:label="@string/Bootloader"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.EDLActivity"
            android:label="@string/EDL"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.SoftRebootActivity"
            android:label="@string/SoftReboot"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.RecoveryActivity"
            android:label="@string/Recovery"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.RestartUIActivity"
            android:label="@string/SystemUI"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.domi04151309.powerapp.activities.shortcuts.ScreenOffActivity"
            android:label="@string/ScreenOff"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ShutdownTileService"
            android:icon="@drawable/ic_shutdown"
            android:label="@string/Shutdown"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.RebootTileService"
            android:icon="@drawable/ic_reboot"
            android:label="@string/Reboot"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.RestartSystemUITileService"
            android:icon="@drawable/ic_restart"
            android:label="@string/SystemUI"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.ControlService"
            android:permission="android.permission.BIND_CONTROLS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>
    </application>

</manifest>
